Repository ollynevard/ollynevard.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{json,md}": "prettier --write"
}

build: add lint-staged and husky (#16)
  .huskyrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

ci: add dependabot config
  .dependabot/config.yml
Due: none

ci: add dependabot config (#20)
  .dependabot/config.yml
Due: none

ci: add pull request workflow
  .github/workflows/pull-request.yml
Due: none

ci: add pull request workflow (#22)
  .github/workflows/pull-request.yml
Due: none

build: add commitlint
  .commitlintrc.json
  .huskyrc.json
  package-lock.json
  package.json
Due: prettier --write

build: add commitlint (#23)
  .commitlintrc.json
  .huskyrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: add markdown pages
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/markdown-pages/my-first-post.md
  src/templates/blogTemplate.jsx
Due: eslint --cache --fix, prettier --write

feat: add markdown pages (#26)
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/markdown-pages/my-first-post.md
  src/templates/blogTemplate.jsx
Due: eslint --cache --fix, prettier --write

feat: add emotion dependency
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat: add emotion dependency (#50)
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat: add layout component
  src/components/Footer/index.jsx
  src/components/Footer/style.jsx
  src/components/Header/index.jsx
  src/components/Header/style.jsx
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/pages/index.jsx
Due: eslint --cache --fix

feat: add layout component (#52)
  src/components/Footer/index.jsx
  src/components/Footer/style.jsx
  src/components/Header/index.jsx
  src/components/Header/style.jsx
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/pages/index.jsx
Due: eslint --cache --fix

feat: add emotion-theming
  package-lock.json
  package.json
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/theme.js
Due: eslint --cache --fix, prettier --write

feat: add emotion-theming (#53)
  package-lock.json
  package.json
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/theme.js
Due: eslint --cache --fix, prettier --write

fix: ignore .eslintcache
  .gitignore
Due: none

fix: ignore .eslintcache (#54)
  .gitignore
Due: none

feat: add react-helmet plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat: add SiteName component
  src/components/SiteName/index.jsx
  src/components/SiteName/style.jsx
Due: eslint --cache --fix

feat: add Nav components
  src/components/Nav/index.jsx
  src/components/Nav/style.jsx
  src/components/NavItem/index.jsx
  src/components/NavItem/style.jsx
Due: eslint --cache --fix

feat: style header
  src/components/Header/index.jsx
  src/components/Header/style.jsx
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/theme.js
Due: eslint --cache --fix

feat: header components (#55)
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Header/index.jsx
  src/components/Header/style.jsx
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/components/Nav/index.jsx
  src/components/Nav/style.jsx
  src/components/NavItem/index.jsx
  src/components/NavItem/style.jsx
  src/components/SiteName/index.jsx
  src/components/SiteName/style.jsx
  src/theme.js
Due: eslint --cache --fix, prettier --write

feat: add hero
  src/components/Hero/index.jsx
  src/components/Hero/style.jsx
  src/pages/index.jsx
  src/theme.js
Due: eslint --cache --fix

chore: update emotion dependency to 11.1.4
  .eslintrc.json
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
Due: eslint --cache --fix, prettier --write

chore: update emotion dependency to 11.1.4 (#243)
  .eslintrc.json
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
Due: eslint --cache --fix, prettier --write

feat: vcard
  .eslintrc.json
  gatsby-node.js
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/components/NavItem/index.jsx
  src/components/NavItem/style.jsx
  src/pages/index.jsx
  src/theme.js
Due: eslint --cache --fix, prettier --write

feat: vcard
  src/components/Icons/IconGitHub/index.jsx
  src/components/Icons/IconLinkedIn/index.jsx
  src/components/Icons/IconTwitter/index.jsx
  src/components/Icons/index.js
  src/components/Logo/index.jsx
  src/components/VCard/index.jsx
  src/components/VCard/style.jsx
  src/components/index.js
Due: eslint --cache --fix

feat: vcard (#244)
  .eslintrc.json
  gatsby-node.js
  src/components/Icons/IconGitHub/index.jsx
  src/components/Icons/IconLinkedIn/index.jsx
  src/components/Icons/IconTwitter/index.jsx
  src/components/Icons/index.js
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  src/components/Logo/index.jsx
  src/components/NavItem/index.jsx
  src/components/NavItem/style.jsx
  src/components/VCard/index.jsx
  src/components/VCard/style.jsx
  src/components/index.js
  src/pages/index.jsx
  src/theme.js
Due: eslint --cache --fix, prettier --write

refactor: mobile first
  src/components/Nav/style.jsx
  src/components/NavItem/style.jsx
  src/components/VCard/style.jsx
Due: eslint --cache --fix

refactor: mobile first (#245)
  src/components/Nav/style.jsx
  src/components/NavItem/style.jsx
  src/components/VCard/style.jsx
Due: eslint --cache --fix

fix: lighthouse seo recommendations
  gatsby-config.js
  package.json
  src/components/Layout/index.jsx
  src/components/SEO/index.jsx
  static/.DS_Store
  static/images/.DS_Store
  static/images/logo.png
Due: eslint --cache --fix, prettier --write

fix/lighthouse seo recommendations (#246)
  gatsby-config.js
  package.json
  src/components/Layout/index.jsx
  src/components/SEO/index.jsx
  static/.DS_Store
  static/images/.DS_Store
  static/images/logo.png
Due: eslint --cache --fix, prettier --write

fix: lighthouse accessibility recommendations
  src/components/Layout/index.jsx
Due: eslint --cache --fix

fix: lighthouse accessibility recommendations (#247)
  src/components/Layout/index.jsx
Due: eslint --cache --fix

fix: lighthouse performance recommendations
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  static/.DS_Store
Due: eslint --cache --fix

fix: lighthouse performance recommendations
  static/fonts/.DS_Store
  static/fonts/jetbrains-mono-v1-latin-600.eot
  static/fonts/jetbrains-mono-v1-latin-600.svg
  static/fonts/jetbrains-mono-v1-latin-600.ttf
  static/fonts/jetbrains-mono-v1-latin-600.woff
  static/fonts/jetbrains-mono-v1-latin-600.woff2
  static/fonts/jetbrains-mono-v1-latin-regular.eot
  static/fonts/jetbrains-mono-v1-latin-regular.svg
  static/fonts/jetbrains-mono-v1-latin-regular.ttf
  static/fonts/jetbrains-mono-v1-latin-regular.woff
  static/fonts/jetbrains-mono-v1-latin-regular.woff2
Due: none

fix/lighthouse performance recommendations (#248)
  src/components/Layout/index.jsx
  src/components/Layout/style.jsx
  static/.DS_Store
  static/fonts/.DS_Store
  static/fonts/jetbrains-mono-v1-latin-600.eot
  static/fonts/jetbrains-mono-v1-latin-600.svg
  static/fonts/jetbrains-mono-v1-latin-600.ttf
  static/fonts/jetbrains-mono-v1-latin-600.woff
  static/fonts/jetbrains-mono-v1-latin-600.woff2
  static/fonts/jetbrains-mono-v1-latin-regular.eot
  static/fonts/jetbrains-mono-v1-latin-regular.svg
  static/fonts/jetbrains-mono-v1-latin-regular.ttf
  static/fonts/jetbrains-mono-v1-latin-regular.woff
  static/fonts/jetbrains-mono-v1-latin-regular.woff2
Due: eslint --cache --fix

fix: prevent invisible text when loading fonts
  src/components/Layout/style.jsx
Due: eslint --cache --fix

fix: prevent invisible text when loading fonts (#249)
  src/components/Layout/style.jsx
Due: eslint --cache --fix
