Repository ollynevard/ollynevard.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: add manifest plugin and configure icons
  gatsby-config.js
  package-lock.json
  package.json
  static/images/icon.svg
Due: eslint --cache --fix, prettier --write

feat: add offline plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat/progressive web app (#250)
  gatsby-config.js
  package-lock.json
  package.json
  static/images/icon.svg
Due: eslint --cache --fix, prettier --write

refactor: optimise pwa icons
  gatsby-config.js
  static/images/.DS_Store
  static/images/logo.png
  static/images/logo_dark.svg
  static/images/logo_dark_hex.svg
  static/images/logo_dark_hex_maskable.png
  static/images/logo_dark_maskable.png
  static/images/logo_light.svg
  static/images/logo_light_hex.svg
  static/images/logo_light_hex_maskable.png
  static/images/logo_light_maskable.png
Due: eslint --cache --fix

refactor: optimise pwa icons (#251)
  gatsby-config.js
  static/images/.DS_Store
  static/images/logo.png
  static/images/logo_dark.svg
  static/images/logo_dark_hex.svg
  static/images/logo_dark_hex_maskable.png
  static/images/logo_dark_maskable.png
  static/images/logo_light.svg
  static/images/logo_light_hex.svg
  static/images/logo_light_hex_maskable.png
  static/images/logo_light_maskable.png
Due: eslint --cache --fix

feat: add plausible analytics
  src/components/Layout/index.jsx
Due: eslint --cache --fix

feat: add plausible analytics
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Layout/index.jsx
Due: eslint --cache --fix, prettier --write

feat: add plausible analytics (#252)
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

docs: update readme
  README.md
Due: prettier --write

docs: update readme (#253)
  README.md
Due: prettier --write

feat: add posthog analytics
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat: add posthog analytics (#255)
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

ci: honeycomb build events
  .github/workflows/pull-request.yml
Due: none

ci: add steps to build events
  .github/workflows/pull-request.yml
Due: none

ci: honeycomb build events (#327)
  .github/workflows/pull-request.yml
Due: none

style: fix prettier error
  package-lock.json
  src/templates/blogTemplate.jsx
Due: eslint --cache --fix, prettier --write

ci: upgrade ubuntu version
  .github/workflows/pull-request.yml
Due: none

ci: add lighthouse to pr workflow
  .github/workflows/pull-request.yml
  lighthouserc.json
Due: prettier --write

feat(req-002): code quality
  .github/workflows/validate.yml
  .husky/pre-commit
  biome.json
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
Due: prettier --write

feat(req-002): code quality (#1)
  .github/workflows/validate.yml
  .husky/pre-commit
  biome.json
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
Due: prettier --write

feat(req-003): commit messages
  .github/workflows/pr-title.yml
Due: none

feat(req-003): commit messages (#2)
  .github/workflows/pr-title.yml
Due: none

feat(req-004): deployment pipeline
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .github/workflows/release.yml
  wrangler.jsonc
Due: none

feat(req-004): deployment pipeline (#3)
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .github/workflows/release.yml
  wrangler.jsonc
Due: none

chore(main): release 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 1.0.0 (#4)
  CHANGELOG.md
  package.json
Due: prettier --write

feat(req-005): unit testing
  .github/workflows/validate.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/sum.test.ts
  src/lib/sum.ts
Due: prettier --write

feat(req-005): unit testing (#5)
  .github/workflows/validate.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/sum.test.ts
  src/lib/sum.ts
Due: prettier --write

chore(main): release 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 1.1.0 (#6)
  CHANGELOG.md
  package.json
Due: prettier --write

ci: send test results to codecov
  .github/workflows/validate.yml
  .gitignore
Due: none

ci: send test results to codecov (#7)
  .github/workflows/validate.yml
  .gitignore
Due: none

ci/req-006/e2e-testing
  .github/workflows/validate.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/layouts/Layout.astro
  tests/e2e/smoke.spec.ts
  vitest.config.ts
Due: prettier --write

ci(req-006): e2e-testing (#8)
  .github/workflows/validate.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/layouts/Layout.astro
  tests/e2e/smoke.spec.ts
  vitest.config.ts
Due: prettier --write

feat(req-008): error logging
  .env.example
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.server.config.ts
Due: prettier --write

feat(req-008): error logging (#9)
  .env.example
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.server.config.ts
Due: prettier --write

chore(main): release 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(main): release 1.2.0 (#10)
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
